---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="ya-share2" style="float:right" data-services="vkontakte,twitter,facebook,gplus" data-counter></div>
    <p class="post-meta">{{ page.date | localize: "%-d %B, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="ya-share2" data-services="vkontakte,twitter,facebook,gplus" data-counter></div>

<div class="bottom-post">
  <div class="bottom-header">Читайте также</div>

  <div class="PageNavigation">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">

      <div class="post-preview">{{ page.previous.excerpt }}</div>
      {{page.previous.title}}
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">

      <div class="post-preview">{{ page.next.excerpt }}</div>
      {{page.next.title}}
    </a>
    {% endif %}
  </div>
</div>

